.search {
  position: relative;
  width: 646px;
}

.search-list {
  position: absolute;
  background: white;
  padding: 20px 35px;
  margin-left: -32px;
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 25px;
  width: 717.84px;
}
.search-div {
  margin-left: 25.5%;
  margin-top: 3%;
  width: 55%;
}
.search-detail small {
  color: #72777a;
}
.search input {
  height: 48px;
  text-indent: 35px;
  border: 1px solid #000;
  border-radius: 8px;
  width: 70%;
}
.search-result {
  padding-bottom: 10px;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid rgba(32, 64, 128, 1);
}

.search svg {
  position: absolute;
  top: 12px;
  left: 16px;
  margin-right: 15px;
}
.search-list button {
  color: black;
  font-weight: 600;
  border: none;
  background: white;
}
.result-list {
  margin-top: 5%;
  margin-left: -30px;
}
.result-list .search-result {
  width: 62vw;
  padding: 15px 20px;
  cursor: pointer;
}
.result-list .search-result:hover {
  background: rgba(79, 117, 194, 0.21);
  border-radius: 8px;
}
.result-list hr {
  width: 85%;
  margin-left: 10px;
}
.search-detail {
  width: 49vw;
}
.search-user {
  color: #484848;
}
.addlink form {
  margin-left: 230px;
  margin-top: 50px;
  width: 600px;
}

.addlink .form-control {
  width: 600px;
}
.alert {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 375px;
  height: 123px;
  border-radius: 8px;
  background: #c4c4c4;
  border: none;
  color: black;
}
.form-control {
  border: 1.5px solid #484848;
  border-radius: 8px;
  height: 46px;
}

.form-control:hover {
  border: 2px solid #48484899;
  background: rgba(100, 100, 100, 0.08);
}
.form-control:focus {
  border: 2px solid rgba(32, 64, 128, 1);
  box-shadow: none;
}
.input-custom label {
  font-size: 18px;
  font-weight: 700;
  color: #686868;
}
.input-custom ::placeholder {
  color: rgba(100, 100, 100, 0.5);
  size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.return-list {
  cursor: pointer;
}
.return-list p {
  text-decoration: none !important;
  color: black;
  font-size: 24px;
  font-weight: 700;
}
.return-list a {
  text-decoration: none;
}
.addlink .form-text {
  height: 10px;
  color: red;
}
.error label {
  color: red !important;
}
.error input {
  border: 2px solid red !important;
}
.list-page .dropdown {
  position: absolute;
  top: 130px;
  right: 150px;
}
.list-page .dropdown-menu {
  position: relative !important;
}
.ui.dropdown .visible.menu {
  display: inline-block !important;
}
.dropdown {
  display: inline-block;
  position: relative;
  outline: none;
  margin: 10px;
}

/* button */
.dropbtn {
  text-decoration: none;
  color: rgba(72, 72, 72, 1);
  background-color: rgba(243, 242, 242, 1);
  border: 1px solid rgba(65, 65, 65, 1);
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.35s ease-out;
  padding: 4px 7px;
}

/* dd content */
.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  background: #ffffff;
  border: 1px solid #8f8f8f;
  box-shadow: 4px 6px 12px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 200px;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
}
.dropdown-content div {
  color: black;
  padding: 2px 10px;
  display: block;
  text-decoration: none;
  transition: 0.35s ease-out;
}
.dropdown-content button {
  width: 100%;
  color: black;
  background-color: white;
  border: none;
}
.dropdown-content button:hover {
  color: white;
  background: #b3b3b3;
  border-radius: 8px;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
  opacity: 1;
}
/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.dropdown:focus .db2 {
  display: inline-block;
}
.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}
.alert .btn-close {
  border: 1px solid black;
  padding: 7px;
  margin: 10px;
  border-radius: 50px;
  font-size: 8px;
  color: black;
  opacity: 1;
}
.alert span {
  position: absolute;
  right: 30px;
  height: 32px;
  top: 45px;
  background: #ff4e78;
  padding: 3px;
  color: white;
  border-radius: 48px;
  width: 70px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.alert strong {
  font-size: 14px;
}
.alert p {
  font-size: 13px;
}
.pagination-container {
  margin-left: 100px;
  grid-gap: 10px;
}
.pagination-container button {
  background: #ffffff;
  border: 1px solid #484848;
  border-radius: 4px;
  text-align: center;
  padding-inline: 10px;
}
.active {
  background-color: #204080 !important;
  color: #fff;
}
