.top-news {
  font-size: 32px;
  font-weight: 700;
  margin-left: 15vw;
  margin-top: 100px;
}
footer {
  background-color: #294e98b8;
  height: 280px;
  color: white;
  margin-top: 150px;
  margin-inline: -11px;
}
.footer-info {
  width: 320px;
  margin-left: 50px;
  margin-top: 20px;
}
